
<div class="panelz panelz-default">
  <div class="row">
    <%# This line will get replace with categories from Sport Table in data  %>
    <% @categories.each do |cat| %>
      <div class="col-md-4 col-sm-6 col-xs-12 mb-5">
        <div class="img-thumbnail thumbnail">
          <%= link_to(image_tag("#{cat.downcase}.png"), trainers_path) %>
          <div class="caption  text-center">
            <h3><%= cat.capitalize %></h3>
            <% if (!user_signed_in?) %>
               <%= link_to('Show',   trainers_path, class: "btn-link" ) %>
              <%else%>

            <%= link_to('Edit',   trainers_path, class: "btn-link" ) %>
            <%= link_to('Delete', trainers_path, method: :delete, data: {confirm:  "Are you sure?"}, class: "btn-link" ) %>
            <% end %>
          </div>         
        </div>
      </div>
      
      <%# <br> %>
    <% end %>
  </div>
</div>

