
<%= simple_form_for(@lesson, html: { class: 'form-horizontal'}) do |f|%>

  <div class="form-inputs">
    <%= f.input :title, class: "form-control" %>
    <%= f.input :description, class: "form-control" %>
    <%= f.input :trainer_id, class: "form-control" %>
    <%= f.input :image, as: :file, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-normal" %>
  </div>
<% end %>