


<div class="panel panel-default show-panel">
  <div class="row">
    <%# This line will get replace with categories from Sport Table in data  %>
    <% @coach.each do |item, detail| %>
      <div class="col-md-4">
        <div class="img-thumbnail thumbnail">
          <%= image_tag(detail[:image], alt: "Profile image") %>                
        </div>  
        <div class="caption  text-center">
          <h3><%= "#{detail[:expertise]} Coach" %></h3>
          <p class="lead text-center">*****</p>
        </div>      
      </div>    

      <div class="col-md-8">
        <h3 class="media-heading"><%= detail[:name] %></h3>
        <h5 class="p-2"><%= detail[:city] %></h5>
        <p class="p-2"><%= detail[:description] %></p>
        <p class="text-center bg bg-danger py-5">Au$50/hr</p>
        <%= link_to('Back', coaches_path, class: "btn btn-info" ) %>
        <%= link_to('Add to Cart', 
                     coaches_path, 
                     class: "btn btn-warning pull-right", 
                     id: 'add-to-cart' ) %>
        <%= link_to('Book Now', 
                     coaches_path, 
                     class: "btn btn-active pull-right",
                     id: 'book-now' ) %>
      </div>    
    <% end %>
  </div>
</div>



<%= link_to('Show',  coaches_path, class: "btn-link" ) %>
<%= link_to('Edit',   coaches_path, class: "btn-link" ) %>
<%= link_to('Delete', coaches_path, method: :delete, data: {confirm:  "Are you sure?"}, class: "btn-link" ) %>