<%= simple_form_for @trainer do |f| %>
 <% unless @trainer.errors.empty? %>
<script type="text/javascript">
<% @trainer.errors.full_messages.each do |value| %>
    toastr.error('<%= value %>')
<% end %>
</script>

<% end %>

  <div class="form-inputs">
    <%= f.input :first_name, class: "form-control" %>
    <%= f.input :last_name, class: "form-control" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a Sport"}, class: "form-control" %>
    <%= f.input :phone, class: "form-control" %>
    <%= f.input :bio, as: :text, class: "form-control" %>
    <%= f.input :experience, class: "form-control" %>
  
    <%= f.input :avatar, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-normal" %>
  </div>
<% end %>
<br />
