


<h3 class="text-center">Find a Coach in your city</h3>
<%= link_to 'New Trainer', new_trainer_path %>
<%# Remove @coach_count
    This line will get replace with categories from Sport Table in data  
  %>

<% @trainers.each do |trainer| %>
  <div class="panel panel-default show-panel">  
      <div class="row">         
        <div class="col-md-4">
          <div class="img-thumbnail thumbnail">
             <%= image_tag(trainer.avatar.url, class: "media-object") %>           
          </div>       
        </div>   
        <div class="col-md-8">
          <h4 class="media-heading"><%= trainer.first_name + " " + trainer.last_name %></h4>
          <h5 class="media-heading"><%= "brisbane" %></h5>
          <p class="card-text"><%= trainer.phone %></p>
          <p class="card-text"><%= trainer.bio %></p>
          <%= link_to('Visit the Profile', trainer_path(trainer), class: "btn-link" ) %>
        </div>    
      </div>       
  </div>
<% end %>
